/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
  background: #fff;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
}

.banner__btn, .inter__media--intro, .project__btn, .hero__btn {
  --height: 62px;
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
  text-align: center;
  min-width: 170px;
  height: var(--height);
  line-height: var(--height);
  background-color: #5d3bee;
  font-size: 1.8rem;
  font-weight: 700;
  transition: opacity 0.3s;
}
.banner__btn:hover, .inter__media--intro:hover, .project__btn:hover, .hero__btn:hover {
  cursor: pointer;
  opacity: 0.9;
}

.section__heading {
  user-select: none;
  color: #080415;
  font-size: 5.6rem;
  font-weight: 500;
  line-height: 6.6rem;
  letter-spacing: -0.224rem;
}
.section__heading--top {
  user-select: none;
  margin-bottom: 20px;
  color: #080415;
  font-size: 8rem;
  font-weight: 500;
  line-height: 7.6rem;
  letter-spacing: -0.32rem;
}
.section__desc {
  margin-top: 20px;
  color: #51586a;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
}

@keyframes envelop-scale {
  0% {
    transform: scale(0.75, 0.75);
  }
  30% {
    transform: scale(1, 1);
  }
}
@keyframes forward {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 7.5px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 15px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 45px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 90px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 90px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
.fixed {
  position: sticky;
  top: -12px;
  z-index: 10;
}

.header {
  padding-top: 20px;
  background-color: #fbfaff;
}
.header__container {
  width: 1330px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.header__inner {
  display: flex;
  align-items: center;
}
.header__contact {
  display: flex;
  align-items: center;
}
.header__contact--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid rgba(93, 59, 238, 0.2);
}
.header__link {
  margin-right: 357px;
  color: #080415;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 3rem;
  text-decoration-line: underline;
}
.header__link:hover {
  opacity: 0.8;
}

.navbar {
  margin-left: auto;
}
.navbar__list {
  display: flex;
  align-items: center;
}
.navbar__item--link {
  color: #51586a;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: normal;
  padding: 0 21px;
}
.navbar__item--link:hover {
  text-decoration: underline;
}
.navbar__item:nth-child(1) .navbar__item--link {
  padding-left: 0;
}
.navbar__item:last-child .navbar__item--link {
  padding-right: 0;
}

.hero {
  position: relative;
  padding-top: 44px;
  background-color: #fbfaff;
}
.hero__inner {
  align-items: center;
}
.hero-media {
  position: relative;
}
.hero-media__img {
  user-select: none;
  width: 514px;
  display: block;
  object-fit: cover;
  position: relative;
  z-index: 1;
}
.hero-media::after {
  content: url(../../assets/img/hero-decorate-01.png);
  position: absolute;
  top: 0;
  left: -90px;
}
.hero-content {
  padding-left: 30px;
  margin-top: 94px;
}
.hero-content__desc {
  width: 370px;
}
.hero-content__cta {
  margin-top: 50px;
  display: flex;
  align-items: center;
  column-gap: 30px;
}
.hero-content__more {
  color: #080415;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3rem;
  text-decoration-line: underline;
}
.hero__btn {
  color: #fdfdfd;
}
.hero-socials {
  margin-top: 104px;
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.hero-socials__follow {
  color: #51586a;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3rem;
}
.hero-socials__wrap {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.hero-socials--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(8, 4, 21, 0.1);
  transition: border-color 0.25s;
}
.hero-socials--icon:hover {
  border-color: #080415;
}
.hero::after {
  content: url(../../assets/img/hero-decorate-02.svg);
  position: absolute;
  bottom: 0;
  right: 0;
}

.socials {
  margin-top: 68px;
  padding: 30px 0;
}
.socials__container {
  padding: 0;
}
.socials__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.socials__heading {
  position: relative;
  margin-left: 100px;
  width: 253px;
  color: #080415;
  font-size: 4.2rem;
  font-weight: 500;
  line-height: 5rem;
  letter-spacing: -0.168rem;
}
.socials__heading::before {
  content: "";
  margin-right: 13px;
  width: 86px;
  height: 2px;
  background-color: #5d3bee;
  position: absolute;
  top: 22px;
  left: -100px;
}
.socials__list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 36px;
}

.features {
  margin-top: 73px;
  padding: 30px 0;
}
.features__container {
  padding: 0;
}
.features__top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features__desc {
  margin-top: 20px;
  width: 534px;
  text-align: center;
}
.features__list {
  margin-top: 60px;
  align-items: center;
}
.features-item {
  padding: 32px 43px;
  background: #fbfaff;
  transition: translate 0.25s;
}
.features-item:hover {
  cursor: pointer;
  translate: 0 -16px;
}
.features-item__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  border: 1px solid rgba(8, 4, 21, 0.05);
  user-select: none;
}
.features-item__icon {
  box-shadow: 0px 10px 20px 0px rgba(24, 64, 88, 0.25);
}
.features-item__icon--light {
  box-shadow: 0px 7px 20px 0px rgba(247, 222, 136, 0.4);
}
.features-item__title {
  user-select: none;
  margin-top: 22px;
  color: #080415;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 4rem;
  letter-spacing: -0.128rem;
}
.features-item__desc {
  user-select: none;
  margin-top: 15px;
  color: #51586a;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
}

.project {
  padding: 86px 0;
  margin-top: 110px;
  background-color: #5d3bee;
}
.project__container {
  padding: 0;
}
.project__top {
  display: flex;
  align-items: center;
  column-gap: 160px;
}
.project__heading {
  color: #fff;
  width: 468px;
}
.project__desc {
  margin-top: 0;
  width: 370px;
  color: rgba(255, 255, 255, 0.7);
}
.project__list {
  margin-top: 70px;
}
.project-item {
  padding: 23px;
  background: #fbfaff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transition: translate 0.25s;
}
.project-item:hover {
  cursor: pointer;
  translate: 0 -16px;
}
.project-item__decor {
  display: block;
  position: absolute;
  top: 1px;
  right: 0;
}
.project-item__title {
  color: #080415;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 4rem;
  letter-spacing: -0.128rem;
}
.project-item__desc {
  margin-top: 10px;
  width: 220px;
  color: #51586a;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.3rem;
}
.project-item__more {
  margin-top: 20px;
  color: #080415;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3rem;
  text-decoration-line: underline;
}
.project-item__img {
  position: relative;
  z-index: 1;
}
.project__cta {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
.project__btn {
  background-color: #fff;
}

.inter {
  margin-top: 100px;
  padding: 40px 0 74px;
  background: linear-gradient(to bottom, #fff 47%, #fbfaff 42%);
  position: relative;
}
.inter__container {
  padding: 0;
}
.inter__top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inter__title {
  margin-bottom: 10px;
  color: #5d3bee;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 4rem;
  letter-spacing: -0.128rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inter__title::after {
  content: url(../../assets/icons/hand-icon.svg);
  margin-left: 9px;
}
.inter__desc {
  margin-top: 15px;
  width: 570px;
  text-align: center;
}
.inter__data {
  border-top: 1px solid rgba(8, 4, 21, 0.2);
  border-bottom: 1px solid rgba(8, 4, 21, 0.2);
  display: flex;
  justify-content: space-between;
  margin: 70px auto;
  padding: 20px 95px;
  width: 946px;
  max-width: 100%;
}
.inter-item__number {
  color: #080415;
  font-size: 5.6rem;
  font-weight: 500;
  line-height: 7.6rem;
  letter-spacing: 0.168rem;
  text-decoration-line: underline;
}
.inter-item__text {
  color: #51586a;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
}
.inter__media {
  position: relative;
  margin-bottom: 150px;
}
.inter__media--video {
  width: 100%;
  height: 628px;
  object-fit: cover;
}
.inter__media--play {
  width: 111px;
  height: 111px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(12px);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  position: absolute;
  z-index: 10;
}
.inter__media--play:hover {
  cursor: pointer;
}
.inter__media--intro {
  background: #fff;
  color: #51586a;
  text-transform: uppercase;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.inter__media--intro:hover {
  cursor: pointer;
}
.inter__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inter__bottom--desc {
  width: 570px;
  margin-top: 20px;
  text-align: center;
}
.inter__bottom--list {
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}
.inter__bottom--item {
  width: 100%;
  flex-shrink: 0;
  animation: forward ease-in-out;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.inter__bottom--quote {
  margin: 0 auto;
  width: 679px;
  color: #51586a;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 4rem;
}
.inter__bottom--info {
  margin-top: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inter__bottom--avatar {
  margin-right: 15px;
  width: 40px;
  height: 40px;
  padding-top: 7px;
  border-radius: 50%;
  background-color: #f29764;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.inter__bottom--user {
  display: block;
}
.inter__bottom--name {
  color: #080415;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  line-height: 4rem;
}
.inter__bottom--job {
  color: #51586a;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.9rem;
}
.inter__bottom--dots {
  margin-top: 40px;
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.inter__bottom--dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgba(8, 4, 21, 0.2);
}
.inter__bottom--dot:hover {
  cursor: pointer;
}
.inter__bottom--dot-active {
  width: 20px;
  height: 20px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #5d3bee;
}
.inter__bottom--dot-active::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #5d3bee;
}
.inter__decor:nth-child(1) {
  position: absolute;
  bottom: 0;
  left: 0;
}
.inter__decor:nth-child(2) {
  position: absolute;
  bottom: 0;
  right: 0;
}

.question {
  padding: 30px 0;
  margin-top: 65px;
}
.question__container {
  padding: 0;
}
.question__list {
  width: 1010px;
  margin-top: 80px;
}
.question-item__input:checked ~ .question-item__label {
  border-color: #5d3bee;
}
.question-item__input:checked ~ .question-item__label .question-item__heading {
  color: #5d3bee;
}
.question-item__input:checked ~ .question-item__label .question-item__answer {
  height: 60px;
  opacity: 1;
  visibility: visible;
}
.question-item__input:checked ~ .question-item__label .question-item__circle {
  border-color: rgba(93, 59, 238, 0.2);
}
.question-item__input:checked ~ .question-item__label .question-item__circle--icon {
  opacity: 0;
  visibility: hidden;
}
.question-item__input:checked ~ .question-item__label .question-item__circle::after {
  opacity: 1;
  visibility: visible;
}
.question-item__label {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 21px;
  border-bottom: 2px solid #08182f;
  transition: border-color 0.3s;
}
.question-item__heading {
  color: #080415;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 4rem;
  letter-spacing: -0.128rem;
  user-select: none;
  transition: color 0.3s;
}
.question-item__heading:hover {
  cursor: pointer;
}
.question-item__answer {
  width: 487px;
  margin-top: 23px;
  color: #51586a;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: height 0.3s, visibility 0.3s, opacity 0.2s;
  user-select: none;
}
.question-item__circle {
  user-select: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgba(22, 26, 28, 0.2);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 0.3s;
}
.question-item__circle:hover {
  cursor: pointer;
}
.question-item__circle--icon:hover {
  opacity: 0.8;
}
.question-item__circle::after {
  content: url(../../assets/icons/icon-mimus.svg);
  padding-top: 3px;
  position: absolute;
  opacity: 1;
  visibility: hidden;
}

.blog {
  margin-top: 100px;
  padding: 60px 0;
}
.blog__container {
  padding: 0;
}
.blog__top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog__desc {
  margin: 20px 0 30px;
  width: 528px;
  text-align: center;
}
.blog__sub-title {
  margin-bottom: 70px;
  color: #5d3bee;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 4rem;
  letter-spacing: -0.128rem;
  text-decoration-line: underline;
}
.blog__sub-title:hover {
  opacity: 0.9;
}
.blog-item__img {
  width: 100%;
  height: 529px;
  object-fit: cover;
}

.banner {
  margin-top: 80px;
}
.banner__container {
  width: 1330px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.banner__inner {
  padding: 68px 0;
  background: #fbfaff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner__icon {
  margin-bottom: 20px;
}
.banner__desc {
  text-align: center;
  margin-top: 15px;
  width: 570px;
}
.banner__btn {
  margin-top: 39px;
  position: relative;
  z-index: 1;
  color: #fff;
}
.banner__decor {
  position: absolute;
}
.banner__decor:nth-child(1) {
  bottom: 0;
  left: 0;
}
.banner__decor:nth-child(2) {
  top: 0;
  left: 50%;
  transform: translateX(-46.6%);
}
.banner__decor:nth-child(3) {
  top: 0;
  right: 0;
}

.footer {
  margin: 50px 0 0;
}
.footer__container {
  padding-bottom: 32px;
}
.footer__bottom {
  border-top: 1px solid rgba(12, 7, 32, 0.2);
  width: 1430px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  padding: 18px 0 30px;
  column-gap: 515px;
}
.footer__copyright-left, .footer__copyright-text {
  color: rgba(82, 87, 113, 0.6);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
}
.footer__copyright-left:hover, .footer__copyright-text:hover {
  cursor: pointer;
  text-decoration: underline;
}
.footer__copyright-text {
  padding: 0 0 0 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__copyright-text:nth-child(1)::after {
  content: "";
  width: 1px;
  height: 14px;
  background-color: rgba(82, 87, 113, 0.6);
  margin-left: 23px;
}
.footer__copyright-right {
  display: flex;
}

@media (min-width: 992px) {
  .hide-on-pc {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .hide-on-tablet {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .hide-on-mobile {
    display: none;
  }
}

.menu-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(102, 102, 102, 0.3);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s, visibility 0.25s;
}
.menu-drawer {
  position: fixed;
  inset: 0 0 0 40%;
  background-color: #fff;
  transform: translateX(100%);
  transition: transform 0.25s;
  z-index: 11;
}
.menu-drawer .navbar__list {
  margin-top: 80px;
  flex-direction: column;
  row-gap: 25px;
}
.menu-drawer .navbar__item {
  width: 100%;
}
.menu-drawer .navbar__item--link:nth-child(1) {
  padding: 0 20px;
}
.menu-checkbox:checked ~ .menu-overlay {
  opacity: 1;
  visibility: visible;
}
.menu-checkbox:checked ~ .menu-drawer {
  transform: translateX(0);
}

@media (max-width: 991.98px) {
  .header__container {
    max-width: calc(100% - 40px);
  }
  .header__inner {
    justify-content: space-between;
    padding-bottom: 15.5px;
    border-bottom: 1px solid #d6d3e2;
  }
  .header__contact {
    order: 2;
  }
  .header__contact--menu, .header__contact--icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid rgba(93, 59, 238, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__logo {
    order: 1;
  }
}

.hero {
  padding-top: 50px;
}
@media (max-width: 991.98px) {
  .hero::after {
    content: "";
  }
  .hero-media__decor-mobile {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    top: initial;
  }
  .hero-media::after {
    content: "";
  }
  .hero-media__mobile {
    order: 2;
  }
  .hero-media__img {
    margin-left: auto;
    margin-right: auto;
    width: 259px;
    height: 355px;
  }
  .hero-content {
    margin-top: 0;
    padding-left: 0;
  }
  .hero-content__mobile {
    order: 1;
  }
  .hero-content__desc {
    width: 318px;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
  .hero-content__cta {
    margin-top: 30px;
    column-gap: 40px;
  }
  .hero-content__more {
    font-size: 1.6rem;
  }
  .hero__heading--mobile {
    width: 260px;
    font-size: 4.2rem;
    line-height: 5rem;
    letter-spacing: -0.168rem;
  }
  .hero__btn {
    --height: 55px;
    font-size: 1.6rem;
    min-width: 147px;
  }
  .hero-socials {
    margin: 25px 0 20px;
    column-gap: 10px;
  }
  .hero-socials__follow {
    font-size: 1.4rem;
    line-height: 2rem;
  }
  .hero-socials__wrap {
    column-gap: 15.5px;
  }
  .hero-socials--icon {
    width: 31px;
    height: 31px;
  }
  .hero-socials--icon img {
    width: 12px;
    height: 12px;
  }
}

.socials {
  margin-top: 100px;
  padding: 20px 0;
}
@media (max-width: 991.98px) {
  .socials__container {
    padding: 0 15px;
  }
  .socials__inner {
    display: block;
  }
  .socials__heading {
    margin: 0 auto;
    text-align: center;
    font-size: 2.8rem;
    width: 169px;
    line-height: 3.4rem;
    letter-spacing: -0.112rem;
  }
  .socials__heading::before {
    width: 48px;
    height: 2px;
    top: 0;
    left: 50%;
    translate: -50% 0;
  }
  .socials__list {
    margin-top: 42px;
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 575.98px) {
  .socials__list {
    margin-top: 42px;
    grid-template-columns: repeat(1, auto);
  }
}

.features {
  margin-top: 80px;
  padding: 20px 0;
}
@media (max-width: 991.98px) {
  .features__container {
    padding: 0 15px;
  }
  .features__heading {
    font-size: 3.6rem;
    line-height: 4.2rem;
    letter-spacing: -0.144rem;
  }
  .features__desc {
    width: 350px;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
  .features__list {
    margin-top: 50px;
    flex-wrap: nowrap;
    width: 100%;
    overflow: hidden;
  }
  .features-item {
    width: 100%;
    flex-shrink: 0;
    padding: 29px 50px;
  }
  .features-item:hover {
    translate: 0 0;
  }
  .features-item__img {
    width: 62px;
    height: 62px;
  }
  .features-item__title {
    margin-top: 30px;
    font-size: 2.8rem;
    line-height: 3.6rem;
    letter-spacing: -0.112rem;
  }
  .features-item__desc {
    margin-top: 10px;
    width: 250px;
    font-size: 1.6rem;
    line-height: 2.8rem;
  }
  .features__dots {
    margin-top: 30px;
    justify-content: center;
  }
}

.project {
  margin-top: 100px;
  padding: 69px 0;
}
@media (max-width: 991.98px) {
  .project__container {
    padding: 0 15px;
  }
  .project__top {
    flex-direction: column;
  }
  .project__heading {
    width: 301px;
    text-align: center;
    font-size: 3.6rem;
    line-height: 4.2rem;
    letter-spacing: -0.144rem;
  }
  .project__desc {
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
  .project__list {
    margin-top: 60px;
  }
  .project-item {
    padding: 20px 15px;
  }
  .project-item:hover {
    translate: 0 0;
  }
  .project-item__title {
    font-size: 2.4rem;
    line-height: 3.4rem;
    letter-spacing: -0.096rem;
  }
  .project-item__desc {
    margin-top: 4px;
    width: 176px;
    font-size: 1.4rem;
    line-height: 2rem;
  }
  .project-item__more {
    margin-top: 4px;
    font-size: 1.6rem;
    line-height: 2.8rem;
  }
  .project-item__img {
    width: 122px;
    height: 93px;
    object-fit: cover;
  }
  .project-item__decor--mobile {
    position: absolute;
  }
  .project-item__decor--mobile:nth-child(3) {
    top: 0;
    right: 0;
  }
  .project-item__decor--mobile:nth-child(4) {
    top: 0;
    right: 42px;
  }
}

.inter {
  padding: 20px 0 67px;
}
@media (max-width: 991.98px) {
  .inter__container {
    padding: 0 15px;
  }
  .inter__title {
    font-size: 2rem;
    line-height: 4rem;
    letter-spacing: -0.08rem;
  }
  .inter__title::after {
    content: url(../../assets/icons/hand-icon-mobile.svg);
    margin-left: 4px;
  }
  .inter .section__heading, .inter__heading {
    text-align: center;
    width: 315px;
    font-size: 3.6rem;
    line-height: 4.2rem;
    letter-spacing: -0.144rem;
  }
  .inter .section__desc, .inter__desc {
    width: 350px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem;
  }
  .inter__data {
    padding: 30px 16px;
    margin: 50px 0;
  }
  .inter-item:nth-child(2) {
    order: -1;
  }
  .inter-item__number {
    line-height: 4.2rem;
    letter-spacing: 0.09rem;
    font-size: 3rem;
  }
  .inter-item__text {
    width: 74px;
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
  .inter__bottom--item {
    animation: none;
  }
  .inter__bottom--quote {
    width: 350px;
    font-size: 1.8rem;
    line-height: 3rem;
  }
  .inter__bottom--name {
    font-size: 2.4rem;
  }
  .inter__bottom--dot {
    width: 16px;
    height: 16px;
  }
  .inter__bottom--dot-active {
    width: 20px;
    height: 20px;
  }
  .inter__bottom--dot-active::before {
    width: 12px;
    height: 12px;
  }
  .inter__media--video {
    height: 276px;
  }
  .inter__media--play {
    width: 77px;
    height: 77px;
  }
  .inter__media--play img {
    width: 10px;
    height: 12px;
  }
  .inter__media--intro {
    --height: 44px;
    min-width: 118px;
    font-size: 1.2rem;
  }
  .inter__decor:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .inter__decor:nth-child(4) {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.question {
  margin-top: 100px;
  padding: 20px 0;
}
@media (max-width: 991.98px) {
  .question__container {
    padding: 0 15px;
  }
  .question .section__heading {
    width: 316px;
    font-size: 3.6rem;
    line-height: 4.2rem;
    letter-spacing: -0.144rem;
  }
  .question__list {
    margin-top: 42px;
    width: 100%;
  }
  .question-item__label {
    padding-bottom: 30px;
  }
  .question-item__heading {
    width: 265px;
    font-size: 2.4rem;
    line-height: 3rem;
    letter-spacing: -0.096rem;
  }
  .question-item__answer {
    margin-top: 15px;
    width: 316px;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
  .question-item__circle {
    flex-shrink: 0;
    width: 33px;
    height: 33px;
  }
  .question-item__circle--icon {
    width: 9px;
    height: 9px;
  }
  .question-item__circle::after {
    padding-top: 0;
    content: url(../../assets/icons/minus-icon-mobile.svg);
  }
}
@media (max-width: 575.98px) {
  .question-item__answer {
    width: 300px;
  }
}

.blog {
  margin-top: 20px;
  padding: 20px 0;
}
@media (max-width: 991.98px) {
  .blog__container {
    padding: 0 15px;
  }
  .blog .section__heading {
    font-size: 3.6rem;
    line-height: 4.2rem;
    letter-spacing: -0.144rem;
  }
  .blog__desc {
    margin: 20px 0 10px;
    width: 350px;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
  .blog__sub-title {
    margin-bottom: 60px;
    font-size: 2rem;
    line-height: 4rem;
    letter-spacing: -0.08rem;
  }
  .blog__list--mobile {
    flex-wrap: nowrap;
    overflow: hidden;
  }
  .blog-item__img {
    height: 503px;
  }
  .blog__dots {
    justify-content: center;
  }
}

.banner {
  margin-top: 100px;
}
@media (max-width: 991.98px) {
  .banner__container {
    max-width: 100%;
  }
  .banner__inner {
    padding: 36px 0;
  }
  .banner__icon {
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
  }
  .banner .section__heading {
    width: 225px;
    text-align: center;
    font-size: 3.6rem;
    line-height: 4.2rem;
    letter-spacing: -0.144rem;
  }
  .banner__desc {
    margin-top: 10px;
    width: 350px;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
  .banner__btn {
    --height: 55px;
    margin-top: 30px;
    min-width: 147px;
    color: #fdfdfd;
    font-size: 1.6rem;
    line-height: 3rem;
  }
  .banner__decor:nth-child(4) {
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }
}

.footer-mobile {
  margin-top: 120px;
}
.footer-mobile__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-mobile__list {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-mobile__text {
  color: #51586a;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}
.footer-mobile__contact {
  margin-top: 58px;
  display: flex;
  align-items: center;
}
.footer-mobile__circle {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid rgba(93, 59, 238, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-mobile__more {
  margin-left: 10px;
  color: #080415;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 3rem;
  text-decoration-line: underline;
}
.footer-mobile__service {
  margin-top: 57px;
  display: flex;
}
.footer-mobile__service--text {
  padding: 0 18px;
  color: #525771;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: -0.054rem;
  position: relative;
}
.footer-mobile__service--text:nth-child(2)::after {
  content: "";
  width: 0;
  height: 0;
}
.footer-mobile__service--text::after {
  content: "";
  width: 1px;
  height: 14px;
  background-color: rgba(82, 87, 113, 0.6);
  position: absolute;
  top: 50%;
  right: 0;
  translate: 0 -50%;
}
.footer-mobile__copyright {
  margin-top: 30px;
  padding: 20px 0;
  border-top: 1px solid rgba(12, 7, 32, 0.2);
  text-align: center;
  color: #525771;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
}

/*# sourceMappingURL=main.css.map */
