@use "../base";

.hide-on-pc {
    @include base.screen(pc) {
        display: none;
    }
}

.hide-on-tablet {
    @include base.screen(tablet) {
        display: none;
    }
}

.hide-on-mobile {
    @include base.screen(mobile) {
        display: none;
    }
}

// Menu drawer
.menu {
    &-overlay {
        position: fixed;
        inset: 0;
        background-color: rgba($color: #666, $alpha: 0.3);
        z-index: 10;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.25s, visibility 0.25s;
    }
    &-drawer {
        position: fixed;
        inset: 0 0 0 40%;
        background-color: #fff;
        transform: translateX(100%);
        transition: transform 0.25s;
        z-index: 11;
        & .navbar {
            &__list {
                margin-top: 80px;
                flex-direction: column;
                row-gap: 25px;
            }
            &__item {
                width: 100%;
                &--link:nth-child(1) {
                    padding: 0 20px;
                }
            }
        }
    }
    &-checkbox {
        &:checked ~ .menu-overlay {
            opacity: 1;
            visibility: visible;
        }
        &:checked ~ .menu-drawer {
            transform: translateX(0);
        }
    }
}

.header {
    @include base.screen(mobile) {
        &__container {
            width: 100%;
            max-width: calc(100% - 40px);
        }
        &__inner {
            justify-content: space-between;
            padding-bottom: 15.5px;
            border-bottom: 1px solid #d6d3e2;
        }
        &__contact {
            order: 2;
            &--menu,
            &--icon {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                border: 1px solid rgba(93, 59, 238, 0.2);
                @include base.flex-center;
            }
        }
        &__logo {
            order: 1;
        }
    }
}

.hero {
    padding-top: 50px;
    @include base.screen(mobile) {
        &::after {
            content: "";
        }
        &-media {
            &__decor-mobile {
                width: 100%;
                position: absolute;
                bottom: 0;
                right: 0;
                top: initial;
            }
            &::after {
                content: "";
            }
            &__mobile {
                order: 2;
            }
            &__img {
                margin-left: auto;
                margin-right: auto;
                width: 259px;
                height: 355px;
            }
        }

        &-content {
            margin-top: 0;
            padding-left: 0;
            &__mobile {
                order: 1;
            }

            &__desc {
                width: 318px;
                font-size: 1.6rem;
                line-height: 2.6rem;
            }

            &__cta {
                margin-top: 30px;
                column-gap: 40px;
            }

            &__more {
                font-size: 1.6rem;
            }
        }

        &__heading--mobile {
            width: 260px;
            font-size: 4.2rem;
            line-height: 5rem;
            letter-spacing: -0.168rem;
        }

        &__btn {
            --height: 55px;
            font-size: 1.6rem;
            min-width: 147px;
        }

        &-socials {
            margin: 25px 0 20px;
            column-gap: 10px;
            &__follow {
                font-size: 1.4rem;
                line-height: 2rem;
            }
            &__wrap {
                column-gap: 15.5px;
            }
            &--icon {
                width: 31px;
                height: 31px;
                & img {
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }
}

.socials {
    margin-top: 100px;
    padding: 20px 0;
    @include base.screen(mobile) {
        &__container {
            padding: 0 15px;
        }
        &__inner {
            display: block;
        }
        &__heading {
            margin: 0 auto;
            text-align: center;
            font-size: 2.8rem;
            width: 169px;
            line-height: 3.4rem;
            letter-spacing: -0.112rem;

            &::before {
                width: 48px;
                height: 2px;
                top: 0;
                left: 50%;
                translate: -50% 0;
            }
        }
        &__list-mobile {
            margin-top: 42px;
            display: grid;
            grid-template-columns: repeat(2, auto);
            justify-content: space-between;
            row-gap: 36px;
        }
    }
}

.features {
    margin-top: 80px;
    padding: 20px 0;
    @include base.screen(mobile) {
        &__container {
            padding: 0 15px;
        }
        &__heading {
            font-size: 3.6rem;
            line-height: 4.2rem;
            letter-spacing: -0.144rem;
        }
        &__desc {
            width: 350px;
            font-size: 1.6rem;
            line-height: 2.6rem;
        }
        &__list {
            margin-top: 50px;
            flex-wrap: nowrap;
            width: 100%;
            overflow: hidden;
        }
        &-item {
            width: 100%;
            &:hover {
                translate: 0 0;
            }
            flex-shrink: 0;
            padding: 29px 50px;
            &__img {
                width: 62px;
                height: 62px;
            }
            &__title {
                margin-top: 30px;
                font-size: 2.8rem;
                line-height: 3.6rem;
                letter-spacing: -0.112rem;
            }
            &__desc {
                margin-top: 10px;
                width: 250px;
                font-size: 1.6rem;
                line-height: 2.8rem;
            }
        }
        &__dots {
            margin-top: 30px;
            justify-content: center;
        }
    }
}

.project {
    margin-top: 100px;
    padding: 69px 0;
    @include base.screen(mobile) {
        &__container {
            padding: 0 15px;
        }
        &__top {
            flex-direction: column;
        }
        &__heading {
            width: 301px;
            text-align: center;
            font-size: 3.6rem;
            line-height: 4.2rem;
            letter-spacing: -0.144rem;
        }
        &__desc {
            margin-top: 20px;
            color: rgba(255, 255, 255, 0.6);
            text-align: center;
            font-size: 1.6rem;
            line-height: 2.6rem;
        }
        &__list {
            margin-top: 60px;
        }
        &-item {
            &:hover {
                translate: 0 0;
            }
            padding: 20px 15px;
            &__title {
                font-size: 2.4rem;
                line-height: 3.4rem;
                letter-spacing: -0.096rem;
            }
            &__desc {
                margin-top: 4px;
                width: 176px;
                font-size: 1.4rem;
                line-height: 2rem;
            }
            &__more {
                margin-top: 4px;
                font-size: 1.6rem;
                line-height: 2.8rem;
            }
            &__img {
                width: 122px;
                height: 93px;
                object-fit: cover;
            }
            &__decor {
                &--mobile {
                    position: absolute;
                    &:nth-child(3) {
                        top: 0;
                        right: 0;
                    }
                    &:nth-child(4) {
                        top: 0;
                        right: 42px;
                    }
                }
            }
        }
    }
}

.inter {
    padding: 20px 0 67px;
    @include base.screen(mobile) {
        &__container {
            padding: 0 15px;
        }
        &__title {
            font-size: 2rem;
            line-height: 4rem;
            letter-spacing: -0.08rem;
            &::after {
                content: url(../../assets/icons/hand-icon-mobile.svg);
                margin-left: 4px;
            }
        }
        & .section__heading,
        &__heading {
            text-align: center;
            width: 315px;
            font-size: 3.6rem;
            line-height: 4.2rem;
            letter-spacing: -0.144rem;
        }
        & .section__desc,
        &__desc {
            width: 350px;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.6rem;
        }
        &__data {
            padding: 30px 16px;
            margin: 50px 0;
        }
        &-item {
            &:nth-child(2) {
                order: -1;
            }
            &__number {
                line-height: 4.2rem;
                letter-spacing: 0.09rem;
                font-size: 3rem;
            }
            &__text {
                width: 74px;
                font-size: 1.6rem;
                line-height: 2.2rem;
            }
        }
        &__bottom {
            &--item {
                animation: none;
            }
            &--quote {
                width: 350px;
                font-size: 1.8rem;
                line-height: 3rem;
            }
            &--name {
                font-size: 2.4rem;
            }
            &--dot {
                &-active {
                    width: 20px;
                    height: 20px;
                }
                width: 16px;
                height: 16px;
                &-active::before {
                    width: 12px;
                    height: 12px;
                }
            }
        }
        &__media {
            &--video {
                height: 276px;
            }
            &--play {
                width: 77px;
                height: 77px;
                & img {
                    width: 10px;
                    height: 12px;
                }
            }
            &--intro {
                --height: 44px;
                min-width: 118px;
                font-size: 1.2rem;
            }
        }
        &__decor {
            &:nth-child(3) {
                position: absolute;
                @include base.position(bottom-left);
            }
            &:nth-child(4) {
                position: absolute;
                @include base.position(bottom-right);
            }
        }
    }
}

.question {
    margin-top: 100px;
    padding: 20px 0;
    @include base.screen(mobile) {
        &__container {
            padding: 0 15px;
        }
        & .section__heading {
            width: 316px;
            font-size: 3.6rem;
            line-height: 4.2rem;
            letter-spacing: -0.144rem;
        }
        &__list {
            margin-top: 42px;
            width: 100%;
        }
        &-item {
            &__label {
                padding-bottom: 30px;
            }
            &__heading {
                width: 265px;
                font-size: 2.4rem;
                line-height: 3rem;
                letter-spacing: -0.096rem;
            }
            &__answer {
                margin-top: 15px;
                width: 316px;
                font-size: 1.6rem;
                line-height: 2.6rem;
            }
            &__circle {
                flex-shrink: 0;
                width: 33px;
                height: 33px;
                &--icon {
                    width: 9px;
                    height: 9px;
                }
                &::after {
                    padding-top: 0;
                    content: url(../../assets/icons/minus-icon-mobile.svg);
                }
            }
        }
    }
    @include base.screen(mobile-s) {
        &-item {
            &__answer {
                width: 300px;
            }
        }
    }
}

.blog {
    margin-top: 20px;
    padding: 20px 0;
    @include base.screen(mobile) {
        &__container {
            padding: 0 15px;
        }
        & .section__heading {
            font-size: 3.6rem;
            line-height: 4.2rem;
            letter-spacing: -0.144rem;
        }
        &__desc {
            margin: 20px 0 10px;
            width: 350px;
            font-size: 1.6rem;
            line-height: 2.6rem;
        }
        &__sub-title {
            margin-bottom: 60px;
            font-size: 2rem;
            line-height: 4rem;
            letter-spacing: -0.08rem;
        }
        &__list--mobile {
            flex-wrap: nowrap;
            overflow: hidden;
        }
        &-item {
            &__img {
                height: 503px;
            }
        }
        &__dots {
            justify-content: center;
        }
    }
}

.banner {
    margin-top: 100px;
    @include base.screen(mobile) {
        &__container {
            width: 100%;
            max-width: 100%;
        }
        &__inner {
            padding: 36px 0;
        }
        &__icon {
            width: 48px;
            height: 48px;
            margin-bottom: 10px;
        }
        & .section__heading {
            width: 225px;
            text-align: center;
            font-size: 3.6rem;
            line-height: 4.2rem;
            letter-spacing: -0.144rem;
        }
        &__desc {
            margin-top: 10px;
            width: 350px;
            font-size: 1.6rem;
            line-height: 2.6rem;
        }
        &__btn {
            --height: 55px;
            margin-top: 30px;
            min-width: 147px;
            color: #fdfdfd;
            font-size: 1.6rem;
            line-height: 3rem;
        }
        &__decor:nth-child(4) {
            width: 100%;
            @include base.position(center);
        }
    }
}

.footer-mobile {
    margin-top: 120px;
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__list {
        width: 100%;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__text {
        color: #51586a;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
    }
    &__contact {
        margin-top: 58px;
        display: flex;
        align-items: center;
    }
    &__circle {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        border: 1px solid rgba(93, 59, 238, 0.2);
        @include base.flex-center;
    }
    &__more {
        margin-left: 10px;
        color: #080415;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 3rem;
        text-decoration-line: underline;
    }
    &__service {
        margin-top: 57px;
        display: flex;
        &--text {
            padding: 0 18px;
            color: #525771;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 3rem;
            letter-spacing: -0.054rem;
            position: relative;
            &:nth-child(2) {
                &::after {
                    content: "";
                    width: 0;
                    height: 0;
                }
            }
            &::after {
                content: "";
                width: 1px;
                height: 14px;
                background-color: rgba($color: #525771, $alpha: 0.6);
                position: absolute;
                top: 50%;
                right: 0;
                translate: 0 -50%;
            }
        }
    }
    &__copyright {
        margin-top: 30px;
        padding: 20px 0;
        border-top: 1px solid rgba($color: #0c0720, $alpha: 0.2);
        text-align: center;
        color: #525771;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 3rem;
    }
}
