@use "./variables";

*,
::before,
::after {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
    background: #fff;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

a {
    text-decoration: none;
}

%btn {
    --height: 62px;

    border: none;
    outline: none;
    padding: 0;
    background-color: transparent;
    min-width: 170px;
    height: var(--height);
    line-height: var(--height);
    background-color: variables.$primary-color;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 3rem;
    transition: opacity 0.3s;

    &:hover {
        cursor: pointer;
        opacity: 0.9;
    }
}

.section {
    &__heading {
        user-select: none;
        color: #080415;
        font-size: 5.6rem;
        font-weight: 500;
        line-height: 6.6rem;
        letter-spacing: -0.224rem;
        &--top {
            user-select: none;
            margin-bottom: 20px;
            color: #080415;
            font-size: 8rem;
            font-weight: 500;
            line-height: 7.6rem;
            letter-spacing: -0.32rem;
        }
    }
    &__desc {
        margin-top: 20px;
        text-align: center;
        color: #51586a;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 3rem;
    }
}
