@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin position($pos) {
    @if $pos == "top-left" {
        top: 0;
        left: 0;
    }
    @if $pos == "top-right" {
        top: 0;
        right: 0;
    }
    @if $pos == "bottom-left" {
        bottom: 0;
        left: 0;
    }
    @if $pos == "bottom-right" {
        bottom: 0;
        right: 0;
    }
    @if $pos == "center" {
        top: 50%;
        left: 50%;
        translate: -50% -50%;
    }
}

@mixin pos-top-left($top, $left) {
    top: $top;
    left: $left;
}

@mixin pos-top-right($top, $right) {
    top: $top;
    right: $right;
}

@mixin pos-bottom-left($bottom, $left) {
    bottom: $bottom;
    left: $left;
}

@mixin pos-bottom-right($bottom, $right) {
    bottom: $bottom;
    right: $right;
}

// animation
@mixin animate-forward {
    animation: forward ease-in-out;
    animation-duration: 4s;
    animation-delay: 7s;
    animation-iteration-count: infinite;
}

@mixin time-delay($time: --time, $plus: --plus) {
    --time: calc(#{$time} + $plus);
}

// mixin for responsive
@mixin screen($divices) {
    @if &divices == pc {
        @media (min-width: 992px) {
            @content;
        }
    }

    @if &divices == tablet&mobile {
        @media (max-width: 991.98px) {
            @content;
        }
    }

    @if &divices == tablet {
        @media (min-width: 768px) and (max-width: 991.98px) {
            @content;
        }
    }

    @if &divices == mobile {
        @media screen and (max-width: 767.98px) {
            @content;
        }
    }
    @if &divices == mobile-s {
        @media (max-width: 575.98px) {
            @content;
        }
    }
}
